<div id="grid_areq" title="Seleccione requisitos asociados" >
    <script type="text/javascript" src="/js/modulos/areqcat.js"></script>
    <center><label for="idcateg">Asignar a CategoriaID :</label>
        <input type="text" name="idcateg" id="idcateg" value="" size="3" readonly /></center>
    <br /><br />
    <table id="lsareq"></table> 
    <div id="pgareq" ></div> 
    <br /> 
    <div class="espere_areq" style="color: red;font-size: 12px;font-weight: bold">
        Procesando... <img alt="" src="/images/ajax-loader.gif" />
    </div>
    <a href="javascript:void(0)" id="btnsel_areq">||Ver Asignados||</a>
</div>