<script type="text/javascript" src="/js/modulos/categoria.js"></script>
<script type="text/javascript">{$grillacategoria}</script>

<table id="lscategoria"></table>
<div id="pgcategoria"></div>


<button id="nuevo_categoria">Nuevo</button>
<button id="modificar_categoria">Modificar</button>
<button id="anular_categoria">Borrar</button>
<button id="areq_categoria">Agregar Req.</button>

<div class="espere_categoria" style="color: red;font-size: 12px;font-weight: bold">
    Procesando... <img alt="" src="/images/ajax-loader.gif" />
</div>
{include file=$form}
{include file=$fasig}