<style>
    #tdetitem table, #tdetitem th, #tdetitem td{
        border: 1px solid green;
    }
    #tdetitem table {
        border-collapse:collapse;
        width: 650px;
        font-size:11px;
    }
    #tdetitem th, #tdetitem td{
        padding: 5px;
    }
    #tdetitem th {
        background-color: #74b2e2;
    }
    #tdetitem tr:hover {
        background-color: #C4E1A4;
    }
    
    #tdetitem td a{
        color: blue;
    }
    
    #tdetitem th.nomitem {
        width: 200px;
    }
</style>
<div id="vdetalleitem" title="Registros Detalles del Requisito Selecionado">
    <div id="tdetitem"></div>
</div>