<script type="text/javascript" src="/js/jquery.upload-1.0.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-layout.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/util.js"></script>

<style> 
    #centerPane *{ 
        font-size: 11px; 
        text-align: left;
    }
    
    .paneluser a{
        color:green;
        font-style: italic;
        font-weight: bold;
    }
</style>
<div id="dashboard" class="cuerpo">
    {include file="menu.html"}
    <div class="paneluser ui-layout-north ui-widget-content">
        Bienvenido: {if $login.nick|count_characters gt 2} {$login.nick} {else} {$login.login} {/if}
        <b>|</b>
        <a href="javascript:void(0)" onclick="moduser('{$login.idusuario}');">Edit-User<span class="ui-button ui-icon ui-icon-contact" title="Editar Usuario"></span></a>
        <b>|</b>
        <a href="logout">Salir<span class="ui-button ui-icon ui-icon-closethick" title="Salir del Sistema"></span></a>
    </div>
    <div id="centerPane" class="ui-layout-center ui-helper-reset ui-widget-content">
      <div id="tabs" class="jqgtabs">                    
         <ul><li><a href="#tabs-1">GORESAM</a></li></ul>
         <div id="tabs-1"></div>
      </div>
   </div>
</div>
{include file="usermod.html"}