<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=8" />

        <title>Sistema Forestal</title>

        <link type="text/css" href="/css/index.css" rel="stylesheet" />
        <link type="text/css" href="/css/jqueryui/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
        <link type="text/css" href="/css/treeview/jquery.treeview.css" rel="stylesheet" />
        <link type="text/css" href="/css/ui.jqgrid.css" rel="stylesheet" />
        <script type="text/javascript" src="/js/jquery-latest.js"></script>
        <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery.treeview.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>

        <script type="text/javascript" src="/js/grid.locale-es.js"></script>
        <script type="text/javascript" src="/js/jquery.jqGrid.min.js"></script>

    </head>
    <body>
        {include file="header.html"}
        {include file=$main}
        {include file="pie.html"}
    </body>
</html>